<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <!-- Site Logo Here -->
        <a class="navbar-brand">Hotel Booking</a>
        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobileToggle" aria-controls="navbarMobileToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMobileToggle">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/newBooking">New Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bookings">Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/rooms">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/booking-calender">Booking Calender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/customers">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users">Users</a>
                </li>
            </ul>

            <!-- Right Side -->
            <div class="btn-group float-end">
                <a href="#" class="dropdown-toggle text-decoration-none text-light" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i>
                <span>{{loggedUserData?.userName}}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item"><i class="bi bi-lock-fill"></i> Change Password</a></li>
                    <li><a class="dropdown-item"><i class="bi bi-gear-fill"></i> Admin Setion</a></li>
                    <li><a class="dropdown-item"><i class="bi bi-gear-wide-connected"></i> IMAP Settings</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" (click)="onLogoff()"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
  <router-outlet></router-outlet>